
#stacks_in_2_page6 {
	margin: 40px 0px 40px 0px;
}

#stacks_in_3_page6 {
	font-size: 168%;
	font-weight: bold;
}
#stacks_in_102_page6>.s3_row {
	margin: 0 -10px;
}

#stacks_in_102_page6>.s3_row>.s3_column_left {
	width: 33.33%;
}

#stacks_in_102_page6>.s3_row>.s3_column_center {
	width: 33.339996%;
}

#stacks_in_102_page6>.s3_row>.s3_column_right {
	width: 33.33%;
}

#stacks_in_102_page6>.s3_row>.s3_column {
	padding: 0 10px;
}








@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_102_page6>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_102_page6>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}




#stacks_in_102_page6 {
	margin: 0px 0px 40px 0px;
}

#stacks_in_18_page6 {
	background-color: rgba(15, 128, 255, 1.00);
	padding:  8px;
}

#stacks_in_28_page6 {
	padding:  20px;
}

#stacks_in_29_page6 {
	font-size: 168%;
	font-weight: bold;
}
#stacks_in_73_page6>.s3_row {
	margin: 0 -10px;
}

#stacks_in_73_page6>.s3_row>.s3_column {
	padding: 0 10px;
}








  


@media only screen and (max-width: 770px) {




	#stacks_in_73_page6>.s3_row  {
		margin: -10px -10px;
	}
	#stacks_in_73_page6>.s3_row>.s3_column {
		padding: 10px 10px;
		width:50%;
	}



}



@media only screen and (max-width: 400px) {


	#stacks_in_73_page6>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_73_page6>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}





}




  

#stacks_in_78_page6 {
	border: solid rgba(15, 128, 255, 1.00);
	border-width: 0px 0px 1px 0px;
}

#stacks_in_86_page6 {
	border: solid rgba(15, 128, 255, 1.00);
	border-width: 0px 0px 1px 0px;
}

#stacks_in_84_page6 {
	border: solid rgba(15, 128, 255, 1.00);
	border-width: 0px 0px 1px 0px;
}
