.stacks_div {
  position: relative;
  display: block;
}

.stacks_out {
  position: relative;
  display: block;
  margin: 0;
  border: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.stacks_in {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
}

.stacks_in > p {
  margin-top: 0;
}

.stacks_empty .stacks_in {
  display: none;
}

.stacks_top {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
}

.centered_image {
  position: relative;
  display: block;
  text-align: center;
  width: auto;
  height: auto;
  max-width: 100%;
}

.centered_image .imageStyle {
  position: relative;
  display: block;
  margin: 0 auto;
  width: auto;
  height: auto;
  max-width: 100%;
}

.imageStyle.stacksImage {
  position: relative;
  display: block;
  margin: 0 auto;
  width: auto;
  height: auto;
  max-width: 100%;
}

.stacks_float_left {
  float: left;
  margin-right: 20px;
}

.stacks_float_right {
  float: right;
  margin-left: 20px;
}

.stacks_clearer {
  position: relative;
  display: block;
  clear: both;
}

.stacks_clear_left {
  position: relative;
  display: block;
  clear: left;
}

.stacks_clear_right {
  position: relative;
  display: block;
  clear: right;
}

@media only screen and (min-width: 771px) {
  .stacks_l_hidden {
    display: none;
  }
}
@media only screen and (max-width: 770px) and (min-width: 441px) {
  .stacks_m_hidden {
    display: none;
  }
}
@media only screen and (max-width: 440px) {
  .stacks_s_hidden {
    display: none;
  }
}
.s3_row,
.s3_column {
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

.s3_row {
  width: auto;
}

.s3_column {
  float: left;
}

.s3_column_right {
  float: right;
}




.s3_column_4 {
	width: 25%;
}



