
#stacks_in_59_page0 {
	padding: 40px 0px 0px 0px;
}

#stacks_in_57_page0 {
	background-color: rgba(102, 102, 102, 1.00);
	padding: 40px 10px 40px 10px;
}
#stacks_in_51_page0>.s3_row {
	margin: 0 -10px;
}

#stacks_in_51_page0>.s3_row>.s3_column_left {
	width: 33.33%;
}

#stacks_in_51_page0>.s3_row>.s3_column_center {
	width: 33.339996%;
}

#stacks_in_51_page0>.s3_row>.s3_column_right {
	width: 33.33%;
}

#stacks_in_51_page0>.s3_row>.s3_column {
	padding: 0 10px;
}








@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_51_page0>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_51_page0>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}




#stacks_in_51_page0 {
	padding: 30px 0px 0px 0px;
}

#stacks_in_24_page0 {
	border: solid rgba(77, 77, 77, 1.00);
	border-width:  1px;
}

#stacks_in_39_page0 {
	border: solid rgba(77, 77, 77, 1.00);
	border-width:  1px;
}

#stacks_in_55_page0 {
	border: solid rgba(77, 77, 77, 1.00);
	border-width:  1px;
}
